body {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 12%;
    width: 40%;
    /* background-color: rgb(168, 198, 226); */
    background-image: url(vaksin3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -36%;
    margin-left: -20%;
    border: 2px solid rgb(0, 0, 0);
    width: 147%;
    min-height: 1000px;
    padding: 20px;
    box-sizing: border-box;
}


.container-txt {
    margin-top: -11%;
    margin-left: 2%;
}


.header {
    margin-left: 8%;
    margin-bottom: 15px;
    font-size: 12.5px;
    color: rgb(38, 43, 48);
}

input {
    margin-top: 4%;
}

.label-nama {
    width: 228px;
    height: 26px;
}

.label-nik {
    width: 228px;
    height: 26px;
}

.label-box {
    margin-top: -0.8%;
    margin-bottom: 6%;
}

.date-time {
    margin-bottom: 10%;
}

textarea {
    margin-top: 6%;
    margin-bottom: 2%;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Untuk memasukkan padding ke dalam ukuran total */
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover {
    color: black;
}

.back {
    margin: 0 auto;
    /* margin-left: 11%; */
    background-color: rgb(207, 32, 32);
    color: rgb(255, 246, 246);
    text-decoration: none;
    width: 241px;
    height: 30px;
    border: transparent;
    border-radius: 5px;
    position: relative;
    z-index: 0;
    transition: 0.2s all;
}

.back:hover {
    z-index: 1;
    box-shadow: 0 40px 50px rgb(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.next-button {
    font-size: 30px;
    padding: 12px 20px;
}
